/* Spacing (margin && padding) */
.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mt-4 {
    margin-top: 1rem;
}

/* Alignment */
.center {
    text-align: center;
}

/* Miscellaneous */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    border-width: 0;
    overflow: hidden;
    white-space: nowrap;
}
